<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="appName" value="舰队收藏 肝帝模拟 改 1.5.2.1 (试用)" />
		<add key="unitedUnitWindow" value="选择当前配置中想要关联的执行单元" />
		<add key="scriptDB" value=".\ScriptDB.csv" />
	</appSettings>
</configuration>